<style>
.preview{
    width: 300px;
    height: auto;
    display: none;
}
</style>
<form action="" id="form">
    <input type="hidden" name="id" value="{$data.id}">
    {if condition="$data.id"}
    <h2 class="title">
        <img src="/static/images/bianji.png" class="icon" alt="">
        会员资料修改
    </h2>
    {else /}
    <h2 class="title">
        <img src="/static/images/bianji.png" class="icon" alt="">
        新会员办卡
    </h2>
    {/if}
    <div>
        <div class="form-row">
            <div>姓名</div>
            <div>
                <input name="name" value="{$data.name}">
            </div>
        </div>
        <div class="form-row">
            <div>头像</div>
            <div>
                <input type="hidden" name="avatar" id="avatar" value="{$data.avatar|default=''}">
                <input id="upload" type="file">
                <img class="preview" src="{$data.avatar|default=''}" {$data.avatar?'style="display: block;""':''}>
            </div>
        </div>
        <div class="form-row">
            <div>生日</div>
            <div>
                <input type="date" name="birthday" value="{$data.birthday}">
            </div>
        </div>
        <div class="form-row">
            <div>性别</div>
            <div>
                <select name="sex">
                    <option value="女" {$data.sex=='女' ?"select='select'":""}>女</option>
                    <option value="男" {$data.sex=='男' ?"select='select'":""}>男</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div>手机号</div>
            <div>
                <input name="phone" type="number" value="{$data.phone}">
            </div>
        </div>
        <div class="form-row">
            <div>{$data.id?"余额":"办卡"}</div>
            <div>
                {if condition="$data.id"}
                    ￥{$data.balance}
                {else /}
                    <input name="balance" type="number" value="{$data.balance}">
                {/if}
            </div>
        </div>
        
        {if condition="$data.id"}
        <div class="form-row">
            <div>充值</div>
            <div>
                <input name="recharge" type="number" value="">
            </div>
        </div> 
         
        {/if}
        <div class="d-flex">
            <button type="button" class="btn" id="submit" >提交</button>
            {if condition="$data.id"}
            <a href="/consume/index?user_id={$data.id}" class="btn btn-cancel">返回</a>
            {else /}
            <a href="/index/index" class="btn btn-cancel">返回</a>
            {/if}
    </div>
    </div>
</form>

<script>
    $(function () {
        demo_h5_upload_ops.init();
        $("#submit").click(function () { 
            $(this).attr('disabled','disabled') 
            $('.loading-div').show()
            $.post('/user/add',
                $("form").serialize(),
                function (res) {
                    $("#submit").attr('disabled',false)
                    $('.loading-div').hide()
                    if (res.code == 0) {
                        {if condition="$data.id"}
                                    window.location.href = '/consume/index?user_id={$data.id}'
                        {else /}
                                    window.location.href = '/index/index'
                        {/if}
                    } else {
                        alert(res.message)
                    }
                }, "json");
        })

    })
    var demo_h5_upload_ops = {
        init: function () {
            this.eventBind();
        },
        eventBind: function () {
            var that = this;
            $("#upload").change(function () {
                var reader = new FileReader();
                reader.onload = function (e) {
                    that.compress(this.result);
                };
                reader.readAsDataURL(this.files[0]);
            });
        },
        compress: function (res) {
            var that = this;
            var img = new Image(),
                maxW = 400;

            img.onload = function () {
                var cvs = document.createElement('canvas'),
                    ctx = cvs.getContext('2d');

                if (img.width > maxW) {
                    img.height *= maxW / img.width;
                    img.width = maxW;
                }
                cvs.width = img.width;
                cvs.height = img.height;

                ctx.clearRect(0, 0, cvs.width, cvs.height);
                ctx.drawImage(img, 0, 0, img.width, img.height);
                var dataUrl = cvs.toDataURL('image/jpeg', 0.8);
                $(".preview").attr("src", dataUrl);
                $(".preview").show();
                that.upload(dataUrl);
            };

            img.src = res;
        },
        upload: function (image_data) {
            $.post('/index/uploadImg', {
                    data: image_data
                },
                function (res) {
                    if (res.code == 0) {
                        console.log(res)
                        $('#avatar').val(res.data)
                    } else {
                        alert(res.message)
                    }
                }, "json");

        }
    };
</script>