body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "微软雅黑", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top {
    background: url(/static/images/bg.jpg) no-repeat;
    background-size: 100% auto;
    height: 250px;
}

.top .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.d-flex{
    display: flex;
}

.btn {
    box-sizing: border-box; 
    padding: 10px 13px;
    margin-top: 20px;
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
    display: block;
    width: 100%;
    padding: 10px 13px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
.btn-cancel{
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item {
    box-shadow: 0 1px 9px #dcdcdc;
    color: #495057;
    width: 100%;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:nth-child(event) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}
 

.list-group-item:active {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}

.a-arrow {
    overflow: hidden;
    position: relative;
}

.a-arrow:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 1px 1px 0 0;
    border-color: #ccc;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 1rem;
}
#form{
    padding: 20px;
}
.btn{
    flex:1;
    margin-right: 10px;
}
.btn:last-child{
    margin-right: 0;
}
.form-row{
    margin-bottom: 10px;
}
.icon{
    vertical-align: middle; 
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.name {
    font-size: 22px;
    margin-bottom: 10px;
}

.money {
    margin-top: -16px;
    font-size: 22px;
    margin-right: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
}

.title {
    font-size: 20px;
    color: #333;
    margin: 10px 0 20px;
}
 

.badges {
    padding: 2px 5px;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    border-radius: 6px;
}

.sex-man {
    background: #007bff;
}

.sex-woman {
    background: #f272c2;
}

.age {
    color: #212529;
    background-color: #f7f7f7;
}
.db{
    display: block;
}