<script src="__STATIC__/js/echarts.common.min.js" charset="utf-8"></script>
<script src="__STATIC__/js/macarons.js" charset="utf-8"></script>

<style>
    body {
        background: #fff;
    }
    .username{
        padding: 50px 30px;
        font-size: 24px; 
        color: #fff;
    }

    .menus {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 170px;
        background: #fff;
        border-radius: 8px;
        width: 90%;
        left: 5%;
        box-shadow: 0px 1px 3px #ccc;
    }

    .menus a {
        color: #333;
        padding: 20px 0;
        display: block;
    }

    .menu {
        text-align: center;
        position: relative;
        flex: 1;
    }

    .menu::after {
        content: ' ';
        width: 1px;
        height: 60px;
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -30px;
        background: #999;
        transform: scaleX(0.3);
    }

    .menu:last-child:after {
        content: none;
    }
     

    #loginOut {
        color: #fff;
        float: right;
        margin-top: 17px;
    }  
    .icon{    
        display: block;
        margin: 0 auto;
    }
</style>
<div class="top">
    <div class="username">
        <img class="avatar" src="{$Think.session.admin_info.avatar}"> {$Think.session.admin_info.username}
        <a href="javascript:;" id="loginOut">
            <svg style="fill: #fff;vertical-align: middle" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
                <path fill-rule="evenodd" d="M11.992 8.994V6.996H7.995v-2h3.997V2.999l3.998 2.998-3.998 2.998zm-1.998 2.998H5.996V2.998L2 1h7.995v2.998h1V1c0-.55-.45-.999-1-.999H.999A1.001 1.001 0 0 0 0 1v11.372c0 .39.22.73.55.91L5.996 16v-3.008h3.998c.55 0 1-.45 1-1V7.995h-1v3.997z"></path>
            </svg>退出</a>
    </div>
</div>

<div class="menus">
    <div class="menu">
        <a href="/consume/add"><img src="/static/images/chaopiao.png" class="icon">散客消费</a>
    </div>
    <div class="menu">
        <a href="/user/index"><img src="/static/images/liebiao.png" class="icon">会员列表</a>
    </div>
    <div class="menu">
        <a href="/user/add"><img src="/static/images/qia.png" class="icon">添加会员</a>
    </div>
    <div class="menu">
        <a href="/finance/index"><img src="/static/images/shujubaobiao.png" class="icon">财务情况</a>
    </div>
</div>
<!-- todo  图表展示 -->
<div id="main" style="width: 100%;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'),'macarons');

    // 指定图表的配置项和数据
    option = {
        title: {
            text: '近7天消费情况',
            subtext: '纯属虚构'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['蒸发量', '降水量']
        },
        toolbox: {
            show: false,
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        }],
        yAxis: [{
            type: 'value'
        }],
        series: [{
                name: '蒸发量',
                type: 'bar',
                data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                markPoint: {
                    data: [{
                            type: 'max',
                            name: '最大值'
                        },
                        {
                            type: 'min',
                            name: '最小值'
                        }
                    ]
                },
                markLine: {
                    data: [{
                        type: 'average',
                        name: '平均值'
                    }]
                }
            },
            {
                name: '降水量',
                type: 'bar',
                data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                markPoint: {
                    data: [{
                            name: '年最高',
                            value: 182.2,
                            xAxis: 7,
                            yAxis: 183,
                            symbolSize: 18
                        },
                        {
                            name: '年最低',
                            value: 2.3,
                            xAxis: 11,
                            yAxis: 3
                        }
                    ]
                },
                markLine: {
                    data: [{
                        type: 'average',
                        name: '平均值'
                    }]
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>