<style>
    html,body{       
        position: fixed;
        left: 0;
        top: 0;
        right:0;
        bottom: 0;
        width: 100%;
        height: 100%;  
        overflow: hidden;   
        background: #fff; 
    }
    #canvas{
        border:10px solid #ccc;
        touch-action: none;
        z-index: 2;
    }
</style>
<form action="" id="form">
    <input type="hidden" name="user_id" value="{$user_info.id}">
    <h2 class="title">
        <img src="/static/images/chaopiao.png" class="icon">
        {$user_info.id?"会员":"散客"} 添加消费记录
    </h2>
    <div>
        {if condition="$user_info.id"}
        <div class="form-row">会员名:{$user_info.name}</div>
        {/if}
        <div class="form-row">
            <div>消费项目</div>
            <div>
                <input name="item">
            </div>
        </div>
        <div class="form-row">
            <div>金额</div>
            <div>
                <input name="money" type="number">
            </div>
        </div>
        {if condition="$user_info.id"}
        <div>
            签名区

            <input type="hidden" name="signature" id="signature">
        </div>
        <div id="canvasDiv">
        </div>
        <div id="btn_clear">重签</div>
        <!-- <div id="btn_submit">确定</div> -->
        <script language="javascript">
            document.body.addEventListener("touchmove", function (event) {
                event.preventDefault();
            });

            var canvasDiv = document.getElementById('canvasDiv');
            var canvas = document.createElement('canvas');
            var canvasWidth = document.body.clientWidth - 20;
            var canvasHeight = document.body.clientHeight / 2;
            var point = {};

            point.notFirst = false;
            canvas.setAttribute('width', canvasWidth);
            canvas.setAttribute('height', canvasHeight);
            canvas.setAttribute('id', 'canvas');
            canvasDiv.appendChild(canvas);
            if (typeof G_vmlCanvasManager != 'undefined') {
                canvas = G_vmlCanvasManager.initElement(canvas);

            }
            var context = canvas.getContext("2d");
            var img = new Image();

            img.src = "./a.jpg";
            img.onload = function () {
                var ptrn = context.createPattern(img, 'no-repeat');
                context.fillStyle = ptrn;
                context.fillRect(0, 0, canvas.width, canvas.height);
            }
            canvas.addEventListener("touchstart", function (e) {
                // 最最关键的一行代码
                e.preventDefault();
                var mouseX = e.pageX - this.offsetLeft;
                var mouseY = e.pageY - this.offsetTop;
                paint = true;
                addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
                redraw();
            });
            canvas.addEventListener("touchend", function (e) {
                paint = false;

            });
            canvas.addEventListener("touchmove", function (e) {
                if (paint) {
                    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
                    redraw();
                }
            });

            canvas.addEventListener("mousedown", function (e) {
                var mouseX = e.pageX - this.offsetLeft;
                var mouseY = e.pageY - this.offsetTop;
                paint = true;
                addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
                redraw();

            });
            canvas.addEventListener("mousemove", function (e) {
                if (paint) {
                    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
                    redraw();
                }
            });
            canvas.addEventListener("mouseup", function (e) {
                paint = false;
            });
            canvas.addEventListener("mouseleave", function (e) {
                paint = false;
            });
            var clickX = new Array();
            var clickY = new Array();
            var clickDrag = new Array();
            var paint;

            function addClick(x, y, dragging) {
                clickX.push(x);
                clickY.push(y);
                clickDrag.push(dragging);
            }

            function redraw() {
                context.strokeStyle = "#d85d5d";
                context.lineJoin = "round";
                context.lineWidth = 4;
                while (clickX.length > 0) {
                    point.bx = point.x;
                    point.by = point.y;

                    point.x = clickX.pop();
                    point.y = clickY.pop();
                    point.drag = clickDrag.pop();
                    context.beginPath();
                    if (point.drag && point.notFirst) {
                        context.moveTo(point.bx, point.by);
                    } else {
                        point.notFirst = true;
                        context.moveTo(point.x - 1, point.y);
                    }
                    context.lineTo(point.x, point.y);
                    context.closePath();
                    context.stroke();
                }
            }

            var clear = document.getElementById("btn_clear");
            clear.addEventListener("click", function () {
                canvas.width = canvas.width;
            }); 
        </script>
        {/if}
        <div class="d-flex">
            <a class="btn" id="submit">提交</a>
            {if condition="$user_info.id"}
            <a href="/consume/index?user_id={$user_info.id}" class="btn btn-cancel">返回</a>
            {else/} 
            <a href="/index/index" class="btn btn-cancel">返回</a>
            {/if}
    </div>
    </div>
</form>
<script>
    $(function () {
        $('body').on('touchmove touchstart', function (event) {
            event.preventDefault();
        });

        function submitFun(gohome = false) {
            console.log($("form").serialize())
            $.post('/consume/add',
                $("form").serialize(),
                function (res) {
                    if (res.code == 0) {
                        if (!gohome)
                            window.location.href =
                            '/consume/index?user_id={$user_info.id}'
                        else
                            window.location.href =
                            '/index'
                    } else {
                        alert(res.message)
                    }
                }, "json");

        }
        $("#submit").click(function () {
            if (typeof canvas !== 'undefined') {
                var image_data = canvas.toDataURL('image/png', 0.8);
                $.post('/index/uploadImg', {
                        data: image_data
                    },
                    function (res) {
                        if (res.code == 0) {
                            console.log(res)
                            $('#signature').val(res.data)
                            submitFun()
                        } else {
                            alert(res.message)
                        }
                    });
            } else
                submitFun(true)
        })

    })
</script>